.bubble-gum-theme {
  background: linear-gradient(to bottom right, #FF9BCA, #FFD3A5, #FFEAC8);
  color: #464646;
  padding: 20px;
  text-align: left; /* Align content to the left */
  flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bubble-gum-effect {
  font-family: "Bubblegum Sans", cursive;
  font-size: 28px;
  font-weight: bold; /* Make headings more bold */
  margin-bottom: 10px;
}

.sub-heads {
  font-size: 24px;
  font-weight: bold; /* Make headings more bold */
  margin-top: 20px;
  margin-bottom: 10px;
}

.privacy p {
  margin-bottom: 20px;
}

.disclaimer {
  font-style: italic;
  font-size: 20px;
  color: #888888;
}

/* Add any additional custom styles here */
